/*Impor font PlayFair Display*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(86, 172, 253),rgb(59, 105, 255));
}

header{
    font-family: "Playfair Display", serif;
    text-align: center;
    margin: 100px;
    line-height: 147%;
}
header h1{
    color: white;
    font-weight: 800;
}
header p{
    font-family: Arial, sans-serif;
    font-style: italic;
    color: whitesmoke;
    font-size: 17px;
}

.todo-container{
    text-align: center;
    width: 420px;
    height: 310px;
    margin: 0 auto;
    background-color:rgb(219, 219, 219);
    padding: 15px 20px;
    border-radius: 12px;
}
.todo-container h2{
    padding: 0 0 20px;
}

.task-add{
    width: 100%;
    padding: 0;
}
.task-add input{
    padding: 7px;
    color: rgb(0, 0, 0);
    background-color: rgb(46, 119, 255);
    border: none;
    border-radius: 6px;
}
.task-add input::placeholder{
    color:rgb(0, 0, 0);
}
.task-add button{
    padding: 10px;
    color: black;
    font-weight: 800px;
    background-color:rgb(0, 119, 255);
    border: 1px solid transparent;
    border-radius:6px ;
}
.task-add button:hover{
    border: 1px solid black;
    color: rgb(255, 255, 255);
    background-color:rgb(0, 70, 150);
}

.task-add .task-tools{
    display: flex;
    margin:16px 0 2px;
    justify-content: space-between;
}
.task-add .task-tools .task-filter{
    margin-left:6px;
    display: flex;
    gap: 13px;
}
.task-add .task-tools .task-filter span{
    padding:6px 0 0;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}
.task-add .task-tools .task-filter span:hover{
    border-bottom: 2px solid blue;
}

.task-add .task-tools button{
    margin-right: 6px;
    padding: 8px;
    background-color: red;
}

.task{
    margin: 0 6px 0px 6px;
    background-color: grey;
    padding: 5px 14px;
    border-radius: 6px;
    min-height: 125px;
    max-height: 125px;
    overflow-y: scroll;
}
.task li{
    list-style: none;
}
.task .task-value{
    display:flex;
    justify-content: space-between;
    padding: 5px 0;
}
.task .task-value i{
    font-size: 20px;
    padding: 0 4px;
    cursor: pointer;
}